html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/MontserratRegular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/MontserratMedium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/MontserratSemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/MontserratBold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/MontserratExtraBold.woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000;
  --color-transparent: rgba(0, 0, 0, 0.5);
  --color-light: #fff;
  --color-orange: #f90;
  --color-liteorange: #ffb84d;
  --color-darkorange: #e1670e;
  --color_lightgray: #cacaca;
  --color-gray: #666;
  --color-darkgray: #414141;
  --gap: 32px;
}

.page {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-width: 320px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 16px;
  padding: 19px 38px;
  color: var(--color-dark);
  background-color: var(--color-orange);
  cursor: pointer;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 51px;
  color: var(--color-dark);
}

/* header */
.header__container {
  display: flex;
  align-items: center;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 85px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 85px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 19px;
  color: var(--color-dark);
  transition: color .3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-orange);              
}
 
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-orange);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:active {
  color: var(--color-darkorange);
  outline: none;
}

.nav__link:active::after {
  background-color: var(--color-darkorange);
}

.header__icon {
  display: flex;
  align-items: center;
  margin: 38px 0;
}

.header__icon svg {
  fill: transparent;
  stroke: var(--color-dark);
}

.header__icon:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 2px;
}

.header__icon:hover svg {
  stroke: var(--color-orange);
}

.header__icon:active {
  stroke: var(--color-dark);
  outline: none;
}

.header__icon:active svg {
  stroke: var(--color-dark);
}

/* hero */
.hero__container {
  background-image: url(../img/hero-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
}

.hero__content {
  padding: 100px 80px;
  max-width: 980px;
}

.hero__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 70px;
  color: var(--color-light);
}

.hero__descr {
  margin: 0;
  margin-bottom: 86px;
  font-weight: 700;
  font-size: 26px;
  color: var(--color-light);
}

.hero__btn {
  padding: 25px 40px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: var(--color-light);
  transition: background-color .3s ease-in-out;
}

.hero__btn:focus {
  background-color: var(--color-liteorange);
}

.hero__btn:hover {
  background-color: var(--color-liteorange);
}

.hero__btn:active {
  background-color: var(--color-darkorange);
}

/* about */
.title_about {
  margin-bottom: 20px;
}

.about__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-dark);
}

.about__content {
  --offsets: 1;
  display: flex;
  gap: var(--gap);
}

.content__left {
  display: flex;
  align-items: flex-end;
  background-image: url(../img/about-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.content__wigth {
  width: calc(((100% - (var(--gap) * var(--offsets)))) / (var(--offsets) + 1));
}

.content__in {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  border-radius: 32px;
  background-color: var(--color-transparent);
}

.content__descr {
  margin: 0;
  max-width: 477px;
  font-weight: 700;
  font-size: 18px;
  line-height: 175%;
  color: var(--color-light);
}

.content__btn {
  display: flex;
  align-items: center;
}

.about__btn {
  font-size: 19px;
  padding: 16px 35px;
  border: 3px solid var(--color-orange);
  background-color: transparent;
  color: var(--color-light);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.about__btn:focus {
  border: 3px solid var(--color-liteorange);
  background-color: var(--color-liteorange);
}

.about__btn:hover {
  border: 3px solid var(--color-liteorange);
  background-color: var(--color-liteorange);
}

.about__btn:active {
  border: 3px solid var(--color-darkorange);
  background-color: var(--color-darkorange);
}

.content__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 26px;
  color: var(--color-dark);
}

.content__text {
  margin: 0;
  max-width: 450px;
  font-weight: 400;
  font-size: 17px;
  line-height: 186%;
  color: var(--color-dark);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.content__item {
  padding: 65px 60px;
  display: flex;
  align-items: center;
  outline: 1px solid var(--color_lightgray);
  border-radius: 32px;
}

.content__item::before {
  content: "";
  flex-shrink: 0;
  display: block;
  margin-right: 50px;
  width: 190px;
  height: 165px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content__item_top::before {
  background-image: url(../img/about-icon1.svg);
}

.content__item_bottom::before {
  background-image: url(../img/about-icon2.svg);
}

/* stage */

.container_margin {
  margin-bottom: 100px;
}

.stage__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stage__content {
  max-width: 688px;
}

.stage__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--color-dark);
}

.stage__descr {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 188%;
  color: var(--color-dark);
}

.stage__btns {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.btn-more {
  padding: 20px 38px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-light);
  transition: background-color .3s ease-in-out;
}

.btn-more:focus {
  background-color: var(--color-liteorange);
}

.btn-more:hover {
  background-color: var(--color-liteorange);
}

.btn-more:active {
  background-color: var(--color-darkorange);
}

.btn-doc {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  padding: 12px 38px;
  background-color: transparent;
  outline: 1px solid var(--color-dark);
  transition: background-color .3s ease-in-out, color .3s ease-in-out, outline-color .3s ease-in-out;
}

.btn-doc:focus {
  background-color: var(--color-gray);
  color: var(--color-light);
  outline-color: var(--color-gray);
}

.btn-doc:hover {
  background-color: var(--color-gray);
  color: var(--color-light);
  outline-color: var(--color-gray);
}

.btn-doc:active {
  background-color: var(--color-dark);
}

/* questions */
.questions__list {
  --offsete: 2;
  display: flex;
  gap: var(--gap);
}

.questions__item {
  width: calc(((100% - (var(--gap) * var(--offsets)))) / (var(--offsets) + 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 71px 65px;
  outline: 1px solid var(--color_lightgray);
  border-radius: 32px;
}

.questions__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.questions__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* footer */
.footer-container {
  --offsets: 2;
  display: flex;
  padding: 50px 0;
  background-color: var(--color-dark);
  color: var(--color_lightgray);
  gap: var(--gap);
}

.footer__left {
  width: calc(((100% - (var(--gap) * var(--offsets)))) / (var(--offsets) + 1));
}

.footer__img {
  margin-bottom: 17px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__link {
  transition: color .3s ease-in-out;
}

.footer__link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--color-orange)
}

.footer__link:hover {
  outline: none;
  color: var(--color-orange);
}

.footer__link:active {
  color: var(--color-darkorange);
}

.footer__links {
  display: flex;
  gap: 25px;
}

.footer__web:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-orange);
}

.footer__web:hover {
  outline: none;
}

.footer__web svg {
  fill: var(--color-gray);
}

.footer__web:focus svg {
  fill: var(--color-gray);
}

.footer__web:hover svg {
  fill: var(--color-orange);
}

.footer__web:active svg {
  fill: var(--color-darkorange);
}

.footer__center {
  width: calc(((100% - (var(--gap) * var(--offsets)))) / (var(--offsets) + 1));
}

.footer__descr {
  margin: 0;
  width: calc(((100% - (var(--gap) * var(--offsets)))) / (var(--offsets) + 1));
  padding: 87px 0 20px 208px;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
}

.footer__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 200%;
  color: var(--color_lightgray);
}

.footer__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 53px;
}

.footer__textarea {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 32px;
}

.footer__textarea_fio,
.footer__textarea_email {
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  resize: none;
  padding: 20px 27px 2px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-darkgray);
}

.footer__textarea_text {
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  resize: none;
  padding: 20px 27px 2px 24px;
  width: 100%;
  height: 150px;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-darkgray);
  transition: background-color .3s ease-in-out;
}

.footer__textarea_fio:focus,
.footer__textarea_email:focus,
.footer__textarea_text:focus {
  background-color: var(--color-gray);
}

.footer__textarea_fio:hover,
.footer__textarea_email:hover,
.footer__textarea_text:hover {
  background-color: var(--color-gray);
}

.footer__textarea_fio:active,
.footer__textarea_email:active,
.footer__textarea_text:active {
  background-color: var(--color-gray);
  color: var(--color-light);
}

.footer__bottom {
  display: flex;
  align-items: center;
  gap: 18px
}

.footer__point {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  
}

.footer__btn {
  font-weight: 700;
  font-size: 17px;
  padding: 19px 54px;
  color: var(--color-light);
  transition: background-color .3s ease-in-out;
}

.footer__btn:focus {
  background-color: var(--color-liteorange);
}

.footer__btn:hover {
  background-color: var(--color-liteorange);
}

.footer__btn:active {
  background-color: var(--color-darkorange);
}

.footer__checkbox {
  user-select: none;
  cursor: pointer;
}
.footer__checkbox_input {
  appearance: none;
}

.footer__castom {
  position: relative;
  padding-left: 18px;
  font-weight: 400;
  font-size: 17px;
}

.footer__castom::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color_lightgray);
  transform: translateY(-50%);
}

.footer__castom::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url(../img/footer-check.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.footer__checkbox_input:checked + .footer__castom::after {
  opacity: 1;
}