html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

:root {
  --yellow-color: #CC9933;
  --lite-color: #F0BF5F;
  --hard-color: #A47312;
  --black-color: #000;
  --white-color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular")
   url(../fonts/MullerRegular.woff2) format("woff2"),
   url(../fonts/MullerRegular.woff) format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light")
   url(../fonts/MullerLight.woff2) format("woff2"),
   url(../fonts/MullerLight.woff) format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium")
   url(../fonts/MullerMedium.woff2) format("woff2"),
   url(../fonts/MullerMedium.woff) format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold")
   url(../fonts/MullerBold.woff2) format("woff2"),
   url(../fonts/MullerBold.woff) format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 40px;
  color: #333;
}

.section-descr {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
  max-width: 888px;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  color: var(--yellow-color);
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid var(--yellow-color);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.btn:focus {
  color: var(--white-color);
  background-color: var(--yellow-color);
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--yellow-color);
}

.btn:active {
  color: var(--white-color);
  background-color: var(--hard-color);
}

/* header */
.header {
  margin-top: 30px;
  margin-bottom: 70px;
}

.header__container {
  align-items: center;
  margin-bottom: 30px;
}

.header__tab {
  margin-left: auto;
  display: flex;
  align-items: end;
}

.header__img {
  margin-right: 5px;
}

.header__lk {
  display: flex;
  margin-left: auto;
  align-items: end;
  font-weight: 400;
  font-size: 16px;
  color: var(--yellow-color);
  transition: color 0.3s ease-in-out;
}

.header__lk svg{
  fill: var(--yellow-color);
  transition: fill 0.3s ease-in-out;
}

.header__lk:focus svg{
  fill: var(--yellow-color);
}

.header__lk:hover svg{
  fill: var(--lite-color);
}

.header__lk:active svg{
  fill: var(--hard-color);
}

.header__lk:focus {
  color: var(--yellow-color);
  outline-offset: 2px;
  outline: 1px solid var(--yellow-color);
}

.header__lk:hover {
  color: var(--lite-color);
}

.header__lk:active {
  color: var(--hard-color);
  outline: none;
}

.header__logo {
  margin-right: 40px;
}

.header__list {
  border-radius: 15px;
  background-color: var(--white-color);
  align-items: center;
  margin-bottom: 30px;
}

.header__nav {
  margin-right: auto;
  padding: 27px 45px;
}

.header__item {
  margin-right: 45px;
}

.header__btn {
  padding-right: 45px;
}

.header__link {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  transition: color .3s ease-in-out;
}

.header__link:focus {
  color: var(--yellow-color);
  outline-offset: 2px;
  outline: 1px solid var(--yellow-color);
}

.header__link:hover {
  color: var(--yellow-color);
}

.header__link:active {
  color: var(--hard-color);
  outline: none;
}

.header__main {
  margin-right: 40px;
}

/* special-offers */
.caption__list {
  flex-direction: column;
  justify-content: space-between;
}

.caption__item {
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 573px;
  margin-right: 24px;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  padding: 40px 45px;
}

.caption__item_1 {
  background-image: url(../img/spec-photo1.jpg);
}

.caption__item_2 {
  background-image: url(../img/spec-photo2.jpg);
}

.caption__item:not(:last-child) {
  margin-bottom: 24px;
}

.caption__title  {
  margin: 0;
  max-width: 420px;
  font-weight: 700;
  font-size: 40px;
  color: var(--white-color);
  margin-bottom: 15px;
}

.caption__descr {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: var(--white-color);
  opacity: 0.8;
}

.caption__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--lite-color);
}

.caption__cap {
  flex: 1;
}

.caption__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.caption__link:focus::before {
  outline: 1px solid var(--lite-color);
  outline-offset: 5px;
}

.caption__link:active::before {
  outline: none;
}

.caption__link:hover {
  outline: none;
}

.caption__link:active {
  color: var(--white-color);
}

.caption__link svg {
  margin-left: 5px;
  stroke: var(--lite-color);
}

.caption__link:active svg {
  stroke: var(--white-color);
}

.special__lux {
  position: relative;
  width: 573px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding-top: 212px;
  padding-left: 45px;
  padding-bottom: 40px;
  background-image: url(../img/spec-photo3.jpg);
}

.special__lux .caption__link {
  position: relative;
}

.lux__title {
  margin: 0;
  margin-bottom: 15px;
  max-width: 299px;
  font-weight: 700;
  font-size: 60px;
  color: var(--white-color);
}

.lux__descr {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  color: var(--white-color);
  opacity: 0.8;
}

.lux__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--lite-color);
}

.lux__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lux__link:focus::before {
  outline: 1px solid var(--lite-color);
  outline-offset: 5px;
}

.lux__link:active::before {
  outline: none;
}

.lux__link:active {
  color: var(--white-color);
}

.lux__link svg {
  margin-left: 5px;
  stroke: var(--lite-color);
}

.lux__link:active svg {
  stroke: var(--white-color);
}

/* about */
.about__contant {
  width: 100%;
}

/* services */
.services__list {
  flex-wrap: wrap;
}

.services__item {
  position: relative;
  width: 573px;
  margin-bottom: 24px;
}

.services__article {
  overflow: hidden;
  background-color: var(--white-color);
  border-radius: 15px;
}

.services__text {
  padding-top: 26px;
  padding-left: 45px;
}

.services__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--yellow-color);
  transition: color .3s ease-in-out;
}

.services__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services__link svg{
  stroke: var(--yellow-color);
  transition: stroke .3s ease-in-out;
  margin-left: 7px;
}

.services__link:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--yellow-color);
  outline-offset: 5px;
}

.services__link:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

.services__link:hover {
  color: var(--lite-color);
}

.services__link:hover svg{
  stroke: var(--lite-color);
}

.services__link:active {
  color: var(--hard-color);
}

.services__link:active svg{
  stroke: var(--hard-color);
}

.services__descr {
  margin: 0;
  max-width: 402px;
  padding-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.services__icon {
  background-size: cover;
}

.services__item:not(:nth-child(2n)) {
  margin-right: 24px;
}

/* advantages */
.advantages__list {
  flex-wrap: wrap;
}

.advantages__item {
  width: 276px;
  margin-bottom: 22px;
  background-color: var(--white-color);
  border-radius: 15px;
  padding-top: 40px;
  padding-left: 45px;
}

.advantages__descr {
  margin: 0;
  margin-bottom: 32px;
  max-width: 189px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.advantages__item:not(:nth-child(4n)) {
  margin-right: 22px;
}

/* placement */
.placement__list {
  flex-wrap: wrap;
}

.placement__article {
  overflow: hidden;
  background-color: var(--white-color);
  border-radius: 15px;
}

.placement__item {
  margin-bottom: 24px;
}

.placement__item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placement__caption {
  padding: 32px 45px;
}

.placement__info {
  align-items: center;
  margin-bottom: 16px;
}

.placement__from {
  margin: 0;
  margin-right: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.placement__num {
  margin: 0;
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  color: var(--black-color);
}

.placement__night {
  margin: 0;
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
}

.placement__star {
  margin-left: 6px;
}

.placement__descr {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
}

.placement__city {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.placement__cap {
  overflow: hidden;
  background-color: var(--white-color);
  border-radius: 15px;
  width: 374px;
  height: 445px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 54px;
  padding-bottom: 27px;
  display: flex;
  align-items: flex-end;
}

.placement__card {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white-color);
  background-image: url(../img/special_icon-1.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  background-size: 20px 20px;
}

.placement__photo {
  background-image: url(../img/photo-9.jpg);
}

/* blog */
.blog__container {
  border-radius: 15px;
  background-color: #e9e9e9;
  width: 1170px;
  padding: 45px;
}

.blog__title {
  color: var(--black-color);
  margin-left: 0;
}

.blog__form {
  border-radius: 15px;
  background-color: var(--white-color);
  padding: 31px 28px;
}

.form {
  align-items: center;
  justify-content: space-between;
}

.form__flex {
  display: flex;
  flex-direction: column;
  margin-right: 41px;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  color: var(--black-color);
  margin-bottom: 15px;
  padding-left: 4px;
}

.form__select {
  width: 169px;
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
  border: none;
}

.form__input {
  width: 121px;
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
  border: none;
}

.form__line {
  border-bottom: 1px solid #e9e9e9;;
}

.form__btn {
  padding: 13px 30px;
}

/* address */
.contacts__margin {
  margin-bottom: 40px;
}

.contacts__address {
  border-radius: 15px;
  background-color: var(--white-color);;
  padding: 45px;
  font-style: normal;
}

.contacts__container {
  box-sizing: border-box;
  width: 375px;
  display: flex;
  margin-right: 45px;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__items {
  flex: 1;
}

.contacts__list {
  margin-bottom: 15px;
}

.contacts__bottom {
  display: flex;
}

.contacts__button {
  padding: 27px 30px;
}

.contact__item {
  border-bottom: 1px solid #E9E9E9;
}

.contact__item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
}

.contacts__caption {
  width: 145px;
  font-size: 20px;
  color: var(--black-color);
}

.contacts__text {
  font-size: 16px;
  line-height: 150%;
  color: var(--black-color);
}

.contacts__link {
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow-color);
  transition: color .3s ease-in-out;
}

.contacts__link:focus {
  outline: 1px solid var(--yellow-color);
  outline-offset: 2px;
  color: var(--yellow-color);
}

.contacts__link:hover {
  color: var(--lite-color);
}

.contacts__link:active {
  color: var(--hard-color);
  outline: none;
}

.contacts__descr {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #999;
}

.contacts__marg {
  margin: 0;
  margin-bottom: 23px;
}

.contacts__photo {
  border-radius: 10px;
  width: 653px;
  height: 528px;
}

/* footer */

.footer__container {
  position: relative;
  justify-content: space-between;
  background-color: #333;
  border-radius: 15px;
  padding: 45px;
}

.footer__first {
  flex-direction: column;
  max-width: 427px;
  padding-right: 125px;
}

.footer__second {
  flex-direction: column;
  max-width: 360px;
  font-style: normal;
}

.footer__address {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: var(--white-color);
}

.footer__copy {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
}

.footer__descr {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
}

.social {
  flex-direction: column;
}

.social__link {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.social__link svg {
  fill: #999;
  transition: fill .3s ease-in-out;
}

.social__link:focus svg {
  fill: var(--yellow-color);
}

.social__link:hover svg {
  fill: var(--yellow-color);
}

.social__link:active svg {
  fill: var(--hard-color);
}

.footer__logo {
  position: absolute;
  bottom: 1px;
  right: 177px;
}